# >>>>>>>>>>>>>>> GLOBAL <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
APP_NAME=YourAppName
MANAGER="- YourName"
PORT=1234
FRONTEND_URL=http://localhost:6363
FRONTEND_RESET_PASSWORD_URL=http://localhost:6363/reset-password

# >>>>>>>>>>>>>>> ATLAS DB <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
DATABASE_ATLAS=mongodb+srv://user:password@cluster.mongodb.net/db

# >>>>>>>>>>>>>>> JWT CONFIGURATION <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
JWT_SECRET=generate-a-64-byte-random-hex-string
JWT_EXPIRES_IN=5h
JWT_COOKIE_EXPIRES_IN=5

# >>>>>>>>>>>>>>> EMAIL CONFIGURATION <<<<<<<<<<<<<<<<<<<<<<<<<<<<<
EMAIL_FROM=your@email.com

# >>>>>>>>>>>>>>> REAL MAIL CONFIGURATION <<<<<<<<<<<<<<<<<<<<<<<<<
STAMP_MAIL=your@gmail.com
STAMP_PASSWORD="your-gmail-app-password"

# >>>>>>>>>>>>>>> MAILTRAP CONFIGURATION <<<<<<<<<<<<<<<<<<<<<<<<<<
MAILTRAP_USERNAME=your-mailtrap-username
MAILTRAP_PASSWORD=your-mailtrap-password
MAILTRAP_HOST=smtp.mailtrap.io
MAILTRAP_PORT=465

# >>>>>>>>>>>>>>> Cloudinary CONFIGURATION <<<<<<<<<<<<<<<<<<<<<<<<<<
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_UPLOAD_PRESET="your-preset"
